<script lang="ts">
	export let segment: string

	import { stores } from "@sapper/app"
	import NProgress from "nprogress"
	import SidebarLayout from "~/components/SidebarLayout.svelte"
	import SidebarNavItem from "~/components/SidebarNavItem.svelte"
	import Tailwind from "~/components/Tailwind.svelte"

	NProgress.configure({
		// Pass in your configuration here, below is just how I like it
		// Full list: https://github.com/rstacruz/nprogress#configuration
		showSpinner: false,
	})

	const { preloading } = stores()

	$: {
		if ($preloading) {
			NProgress.start()
		}
		if (!$preloading) {
			NProgress.done()
		}
	}
</script>

<Tailwind />

<SidebarLayout>
	<div slot="brand">
		<a href="." class="flex items-center px-4 py-5">Open Chord Charts</a>
	</div>
	<div slot="nav">
		<SidebarNavItem active={segment === undefined} href=".">Home</SidebarNavItem>
		<SidebarNavItem active={segment === "charts"} href="charts" prefetch>Charts</SidebarNavItem>
	</div>
	<main>
		<slot />
	</main>
</SidebarLayout>

<style global>
	@import "nprogress/nprogress.css";
</style>
