<script context="module">
	import { chart } from "sharp11"

	export async function preload({ params }) {
		// the `slug` parameter is available because
		// this file is called [slug].html
		const res = await this.fetch(`charts/${params.slug}.json`)
		const data = await res.json()

		if (res.status === 200) {
			try {
				return { chart: chart.load(data) }
			} catch (err) {
				this.error(500, `Invalid chart data: ${err.message}`)
			}
		} else {
			this.error(res.status, data.message)
		}
	}
</script>

<script>
	export let chart

	import Chart from "~/components/Chart.svelte"
</script>

<svelte:head>
	<title>{chart.title()}</title>
</svelte:head>

<div class="mx-auto px-4">
	<Chart {chart} key={chart.info.key} />
</div>
