<h1 class="mb-4 font-normal">{chart.title()}</h1>

<ul class="my-8 leading-normal">
  <li>time: {chart.info.time.join("/")}</li>
  <li>
    key:
    <select on:change="set({key: event.target.value})">
      {#each keys as key}
        <option selected={key === chart.info.key}>{key}</option>
      {/each}
    </select>
  </li>
  <li>composer: {chart.info.composer}</li>
  <li>date: {chart.info.date}</li>
</ul>

<table class="my-8 table-fixed text-lg">
  <tbody>
    {#each chart.sections as section}
      {#each rows[section] as row, rowIndex}
        <tr>
          <th scope="row" class="border border-black h-16">
            <div class="text-left mx-2">
              {rowIndex === 0 ? section : ""}
            </div>
          </th>
          {#each row as bar}
            <td class="border border-black w-24 h-16 p-0">
              {#if Array.isArray(bar)}
                {#if bar.length === 2}
                  <div class="diagonal h-full relative">
                    <span class="absolute pin-t pin-l ml-1 mt-1" on:click="playChord(chord)">
                      {chordName(bar[0].chord)}
                    </span>
                    <span class="absolute pin-b pin-r mr-1 mb-1" on:click="playChord(chord)">
                      {chordName(bar[1].chord)}
                    </span>
                  </div>
                {:else}
                  <div class="h-full">
                    {#each bar as {chord}}
                      <div on:click="playChord(chord)">
                        {chordName(chord)}
                      </div>
                    {/each}
                  </div>
                {/if}
              {:else}
                <div class="text-center" on:click="playChord(bar.chord)">
                  {bar.repeat ? "–" : chordName(bar.chord)}
                </div>
              {/if}
            </td>
          {/each}
        </tr>
      {/each}
    {/each}
  </tbody>
</table>

<script>
  import { map, pathOr, pipe, splitEvery, sum } from "ramda"
  import { note } from "sharp11"

  function toBars(chords, nbBeatsPerBar) {
    const bars = []
    let currentBar = []
    chords.forEach(chord => {
      const nbBars = chord.duration.beats / nbBeatsPerBar
      if (nbBars < 1) {
        currentBar.push(chord)
        if (sum(currentBar.map(({ duration }) => duration.value())) == nbBeatsPerBar) {
          bars.push(currentBar)
          currentBar = []
        }
      } else {
        for (let i = 0; i < nbBars; i++) {
          bars.push({
            ...chord,
            repeat: i > 0
          })
        }
      }
    })
    return bars
  }

  function transpose(chordWithDuration, chart, key) {
    if (!key || key === chart.info.key) {
      return chordWithDuration
    }
    const { chord, duration } = chordWithDuration
    const interval = note.create(chart.info.key).getInterval(key)
    return {
      duration,
      chord: chord.transpose(interval)
    }
  }

  export default {
    data() {
      return {
        keys: ["C", "Db", "D", "Eb", "E", "F", "Gb", "G", "Ab", "A", "Bb", "B"]
      }
    },
    computed: {
      rows({ chart, key }) {
        const { sections, content, info } = chart
        const nbBeatsPerBar = pathOr(4, ["time", 0], info.time)
        return map(
          chords =>
            pipe(
              map(chordWithDuration => transpose(chordWithDuration, chart, key)),
              chords => toBars(chords, nbBeatsPerBar),
              splitEvery(8)
            )(chords),
          content
        )
      }
    },
    helpers: {
      chordName({ root, formattedSymbol }) {
        return `${root.name}${formattedSymbol}`
      }
    },
    methods: {
      async playChord(chord) {
        const audio = (await import("sharp11-web-audio")).default // Doesn't work server-side.
        audio.init(function(err, { play }) {
          if (err) {
            console.error(err)
            return
          }
          play(chord)
        })
      }
    }
  }
</script>

<style>
  .diagonal {
    background: linear-gradient(
      to top left,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) calc(50% - 0.6px),
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 0) calc(50% + 0.6px),
      rgba(0, 0, 0, 0) 100%
    );
  }
</style>