<script lang="ts">
	export let chart
	export let enableAudio = false
	export let key

	import { map, pathOr, pipe, splitEvery, sum } from "ramda"
	import { note } from "sharp11"

	let keys = ["Ab", "A", "Bb", "B", "C", "Db", "D", "Eb", "E", "F", "Gb", "G"]

	let synth = null

	// async function loadSynth() {
	// 	const { PolySynth, Synth } = await import("tone")
	// 	synth = new PolySynth(4, Synth).toMaster()
	// }

	// $: if (enableAudio && process.browser) {
	// 	loadSynth()
	// }

	function toBars(chords, nbBeatsPerBar) {
		const bars = []
		let currentBar = []
		chords.forEach((chord) => {
			const nbBars = chord.duration.beats / nbBeatsPerBar
			if (nbBars < 1) {
				currentBar.push(chord)
				if (sum(currentBar.map(({ duration }) => duration.value())) == nbBeatsPerBar) {
					bars.push(currentBar)
					currentBar = []
				}
			} else {
				for (let i = 0; i < nbBars; i++) {
					bars.push({
						...chord,
						repeat: i > 0,
					})
				}
			}
		})
		return bars
	}

	function transpose(chordWithDuration, chart, key) {
		if (!key || key === chart.info.key) {
			return chordWithDuration
		}
		const { chord, duration } = chordWithDuration
		const interval = note.create(chart.info.key).getInterval(key)
		return {
			duration,
			chord: chord.transpose(interval),
		}
	}

	function handleKeySelect(event) {
		key = event.target.value
	}

	function buildRows(chart) {
		const { sections, content, info } = chart
		const nbBeatsPerBar = pathOr(4, ["time", 0], info.time)
		return map(
			(chords) =>
				pipe(
					map((chordWithDuration) => transpose(chordWithDuration, chart, key)),
					(chords) => toBars(chords, nbBeatsPerBar),
					splitEvery(8),
				)(chords),
			content,
		)
	}

	$: rows = buildRows(chart)

	function buildSectionsWithRepetitions(chart) {
		const { sections } = chart
		const result = []
		sections.forEach((section) => {
			const item = { name: section }
			if (result.length > 0 && result[result.length - 1].name === section) {
				item.repeat = true
			}
			result.push(item)
		})
		return result
	}

	$: sectionsWithRepetitions = buildSectionsWithRepetitions(chart)

	function chordName({ root, formattedSymbol }) {
		// Custom symbols for Open Chord Charts
		const symbolsTranslationTable = {
			M: "",
			m7b5: "ø",
			dim: "o",
			dim7: "o",
		}
		let symbol = symbolsTranslationTable[formattedSymbol]
		if (typeof symbol === "undefined") {
			symbol = formattedSymbol
		}
		return `${root.name}${symbol}`
	}

	function playChord(chord) {
		if (synth === null) {
			return
		}
		const octave = 4
		const notes = chord.chord.map((note) => `${note.name}${octave}`)
		synth.triggerAttackRelease(notes, "8n")
	}
</script>

<h1 class="mb-4 font-normal">{chart.title()}</h1>

<ul class="my-8 leading-normal">
	<li>time: {chart.info.time.join("/")}</li>
	<li>
		key:
		<select on:blur={handleKeySelect}>
			{#each keys as key}
				<option selected={key === chart.info.key} value={key}>
					{key}{chart.info.minor ? " minor" : ""}{key === chart.info.key ? " (default)" : ""}
				</option>
			{/each}
		</select>
	</li>
	{#if chart.info.composer}
		<li>composer: {chart.info.composer}</li>
	{/if}
	{#if chart.info.date}
		<li>date: {chart.info.date}</li>
	{/if}
	{#if chart.info.source}
		<li>
			source:
			{#if chart.info.sourceUrl}
				<a href={chart.info.sourceUrl} target="_blank">
					{chart.info.source}
				</a>
			{:else}
				{chart.info.source}
			{/if}
		</li>
	{/if}
</ul>

<form>
	<label title="When enabled you can click on chords to listen to them">
		<input type="checkbox" bind:checked={enableAudio} />
		Enable audio
	</label>
</form>

<div class="overflow-x-auto">
	<table class="my-8 table-fixed text-lg">
		<tbody>
			{#each sectionsWithRepetitions as section}
				{#each rows[section.name] as row, rowIndex}
					<tr>
						<th scope="row" class="border border-black p-0 w-6">
							<div class="text-left mx-2">
								{rowIndex === 0 && !section.repeat ? section.name : ""}
							</div>
						</th>
						{#each row as bar}
							<td class="border border-black p-0">
								{#if section.repeat}
									<div class="one-chord-bar h-12 w-24 flex items-center justify-center">–</div>
								{:else if Array.isArray(bar)}
									{#if bar.length === 2}
										<div class="two-chords-bar h-16 w-24 relative">
											<svg class="absolute w-full h-full">
												<line x1="0" y1="100%" x2="100%" y2="0" class="stroke-current" />
											</svg>
											<span class="absolute pin-t pin-l p-1 w-1/2" on:click={() => playChord(bar[0].chord)}>
												{chordName(bar[0].chord)}
											</span>
											<span class="absolute pin-b pin-r p-1 w-1/2 text-right" on:click={() => playChord(bar[1].chord)}>
												{chordName(bar[1].chord)}
											</span>
										</div>
									{:else}
										<div class="multi-chords-bar h-16 w-24">
											{#each bar as { chord }}
												<div on:click={() => playChord(chord)}>
													{chordName(chord)}
												</div>
											{/each}
										</div>
									{/if}
								{:else}
									<div
										class="one-chord-bar h-16 w-24 flex items-center justify-center"
										on:click={() => playChord(bar.chord)}
									>
										<span>{bar.repeat ? "–" : chordName(bar.chord)}</span>
									</div>
								{/if}
							</td>
						{/each}
					</tr>
				{/each}
			{/each}
		</tbody>
	</table>
</div>
