<nav class="border-b font-light font-sans px-4">
  <ul class="list-reset flex">
    <li>
      <a class='block px-2 py-4 no-underline text-black {segment === undefined ? "nav-item-selected" : ""}' href='.'>home</a>
    </li>

    <!-- for the charts link, we're using rel=prefetch so that Sapper prefetches
         the charts data when we hover over the link or tap it on a touchscreen -->
    <li>
      <a rel=prefetch class='block px-2 py-4 no-underline text-black {segment === "charts" ? "nav-item-selected" : ""}' href='charts'>charts</a>
    </li>
  </ul>
</nav>
