<script lang="ts">
	export let active: boolean = false
	export let href: string
	export let prefetch: boolean = false

	import clsx from "clsx"
</script>

<a
	aria-current={active ? "page" : undefined}
	class={clsx(
		"flex items-center px-4 py-3 transition cursor-pointer group hover:bg-gray-100 hover:text-gray-900",
		active && "text-gray-900 bg-gray-100",
	)}
	rel={prefetch ? "prefetch" : undefined}
	{href}
>
	<span>
		<slot />
	</span>
</a>
